/* =============
    Section 2
============= */
#section-2 {
    
    #image {
        background-image: url('../img/history.jpg');
        background-size: cover;
        background-position: center;
        display: grid;
        height: 570px;

        @include md {
            height: 1370px;
        }

        @include lg {
            height: 1824px;
        }

        #text {
            padding-left: 50%;
            padding-top: 8%;
            
            #top {
                padding-bottom: 10px;
            }
            
            #bottom {
                display: none;

                @include md {
                    display: grid;
                    margin-right: 35%;
                }

                @include lg {
                    margin-right: 40%;
                }

                @include xl {
                    margin-right: 55%;
                }
            }          
        }        
    }

    #text-2 {
        margin: 10px;
        padding-top: 5%;
        
        #top {
            padding-bottom: 10px;
            display: none;
        }

        #bottom {
            margin-left: 70px;
            margin-right: 70px;
        }
    
        @include md {
            display: none;
        }
    }
}