/* =============
    Section 1
============= */
#section-1{

    #section-1-container {
        grid-template-areas: "nav burger" 
                            "text-header text-header";
        grid-template-columns: 80% auto;

        background-image: url('../img/hero.jpg');
        background-size: cover;
        background-position: center;
        display: grid;
        height: 344px;

        @include md {
            height: 586px;
            display: grid;
            grid-template-columns: 10% auto 10%;
            grid-template-rows: 130px auto;
            grid-template-areas: ". nav ." ". text-header .";
        }

        @include lg {
            height: 781px;
            grid-template-rows: 170px auto;
        }

        #nav-container {
            grid-area: nav;
            display: none;

            @include md {
                display: block;
            }
        }
        
        #burger-icon {
            // display: flex;
            justify-content: flex-start;
            grid-area: burger;
            margin: 10px;
    
            @include md {
                display: none;
            }
        }
    
        #text-header {
            grid-area: text-header;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas: "left right";
            color: $white;
            padding-left: 80px;

            @include md {
                padding-left: 0px;
                grid-template-columns: 40% 60%;
            }

    
            #left-text {
                grid-area: left;
                text-align: right;
                padding-right: 20px;
                
                @include md {
                    padding-right: 70px;      
                }
    
                @include lg {
                    padding-right: 80px;              
                }
            }
    
            #right-text {
                grid-area: right;
                text-align: left;
                padding-top: 170px;
    
                @include md {
                    padding-top: 40px;  
                }
    
                @include lg {          
                    padding-top: 60px;
                }
            }
        }    
    }
}
